<h1><%=@recipe_entry.title%></h1>
<br>
<h3>Ingredients</h3>
<p><%=@recipe_entry.ingredients%></p>
<br>
<h3>Directions</h3>
<p><%=@recipe_entry.directions%></p>
<br>
<h6>Created by:</h6>
<p><%=@recipe_entry.user.name%></p>
<br>
<a href="/recipes/<%=@recipe_entry.id%>/edit">
   <input type="button" value="Edit"/>
</a>
<br>
or
<br>
<form action="/recipes/new">
    <input type="submit" value="Create another Recipe"/>
</form>






